{% extends "AppMVT/base.html" %}
{% load static %}
{% block cuerpo %}
<div class="main-body">

Acerca de Nosotros:
<br>
<h4>
<br>
La idea principal de este proyecto surgió a raíz de la falta de fácil acceso para peluquerías para animales. Es por esta razón que decidimos aportar con este proyecto para darle más facilidades a los dueños y que no sea tedioso reservar un turno para higienizar a su mascota. Las personas involucradas en el proyecto somos 3: Juan, Julieta y Lara. 
<br>
* Juan es un hombre que vive en Córdoba y tiene un gato como mascota.                    
<br>
* Julieta es una mujer de 27 años que vive en CABA y tiene un gato que se llama Kero. 
<br>
* Lara es un mujer de 21 años que vive en Rosario y tiene un perro que se llama Rabito.
</h4>

</div>
{% endblock %}